*.iml
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/captures
.externalNativeBuild

*.bin

*.lock

\.gradle/buildOutputCleanup/cache\.properties

\.gradle/vcsWorkingDirs/gc\.properties

app/build/intermediates/blame/res/debug/multi-v2/

app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/

app/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/

app/build/intermediates/incremental/mergeDebugResources/merged\.dir/values-fr-rCA/

app/build/intermediates/incremental/mergeDebugResources/merged\.dir/values-fr/

app/build/generated/res/pngs/debug/drawable-anydpi-v21/
